<div class="jumbotron">
  <% if current_user %>
  	<div class="profile-with-goals">
  	<%= image_tag(current_user.image, :class => "profile-image") %>
  	<% 17.times do |i| %>
  		<%= image_tag("goal-circle/"+(i+1).to_s + ".png", :class => "goal-circle", :id => "goal-circle-" + (i+1).to_s) %>
  	<% end %>
  	</div>
  	
  	<dl class="dl-horizontal">
  	<dt>Crew Number</dt>
  	<dd><%= current_user.id %>
  	<dt>Crew Name</dt>
  	<dd><%= current_user.name %></dd>
  	</dl>


  <% else %>
  	<h1>There's no passengers on spaceship earth.</h1>
  	<h1>We are all crew.</h1>
  	<h2>Sign in and grow our crew of <%= User.all.count %></h2>
  	<br>
  	<p>
  		<a class="btn btn-primary btn-lg" href="/users/auth/twitter" role="button">Twitter</a>
  		<a class="btn btn-primary btn-lg" href="#" role="button">Facebook</a>
  		<a class="btn btn-primary btn-lg" href="#" role="button">Google</a>
  		<a class="btn btn-primary btn-lg" href="#" role="button">Phone number</a>
  	</p>
  <% end %>
</div>
<% if current_user %>
<h2>Select which #globalgoals mean the most to you:</h2>
<div class="row">
<% 17.times do |i| %>
<div class="col-md-2 goal-square" ><%= image_tag("goals/"+(i+1).to_s+".png", :id => "goal-button-" + (i+1).to_s)%></div>
<% end %>
<!-- <div class="col-md-2 goal-square"><span class="goal-number"><%= image_tag("global-goals-logo.png")%></span></div> -->
</div>
<h2>See who's spreading the global goals:</h2>
<div id="googleMap"></div>
<% end %>